* {
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color:  #E5E5E5;
}
h1{
    text-align: center;
    width: 600px;
    height: 63px;
    font-family: Roboto;
    font-size: 56px;
    color: #75B79E;
}
.cardboard{
    width: 1200px;
    height: 650px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.card{
    margin-left: 40px;
    width: 120px;
    height: 150px;
    background-color: #A7E9AF;
    position: relative;
    border-radius: 5px;
}
.face {
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
}
.front-face img,
.back-face img {
    width: 100px;
    height: 100px;
}
.back-face {
    transform: rotateY(180deg);
}
/* Para virar imagemPadrao para o Gif */
.card.virada .front-face{
    transform: rotateY(-180deg);
}
.card.virada .back-face{
    transform: rotateY(0deg);
}
.selecionado{
    opacity: 0;
}

@media(max-width: 612px){
    h1{
        width: 312px;
        height: 63px;
        font-size: 36px;
    }
    .cardboard{
        width: 100%;
        height: auto;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
    }
    .card{
        margin-bottom: 40px;
        margin-left: 0px;
    }
}